@import 'fonts/skolasans/stylesheet.css';
html,
body {
  font-family: 'skolasansregular';
  font-size: "15px";
  background-color: #FFF;
}
#header-page #header_superior {
  margin-top: 18px;
  margin-bottom: 17px;
}
#header-page #header_superior #greeting-message {
  margin-top: 8px;
  margin-left: 10px;
}
#header-page #header_superior #greeting-message .greeting {
  display: block;
  margin-top: 3px;
  margin-left: 5px;
  color: #b47e71;
  font-family: 'skolasansmedium';
  font-size: 18px;
}
#header-page #header_superior #alerts-scope,
#header-page #header_superior #ajust-font {
  margin-top: 6px;
}
#header-page #header_superior #alerts-scope a,
#header-page #header_superior #ajust-font a {
  position: relative;
  display: block;
  clear: both;
}
#header-page #header_superior #alerts-scope a img,
#header-page #header_superior #ajust-font a img {
  max-width: 46px;
  max-height: 25px;
  position: relative;
  top: 50%;
  left: 34%;
}
#header-page #header_superior #alerts-scope a .badge,
#header-page #header_superior #ajust-font a .badge {
  background-color: #c83247;
  position: absolute;
  top: -12px;
  left: 45px;
  padding: 4px 7px;
}
#header-page #header_superior #ajust-font a img {
  left: 20%;
}
#header-page #rules_calendar {
  background-color: #7d746d;
  padding-top: 14px;
  padding-bottom: 16px;
}
#header-page #rules_calendar a {
  display: block;
}
#header-page #rules_calendar a:hover {
  text-decoration: none;
}
#header-page #rules_calendar .with-plan,
#header-page #rules_calendar .without-plan {
  margin-left: -4px;
}
#header-page #rules_calendar .with-plan .before,
#header-page #rules_calendar .without-plan .before,
#header-page #rules_calendar .with-plan .after,
#header-page #rules_calendar .without-plan .after,
#header-page #rules_calendar .with-plan .release-medical,
#header-page #rules_calendar .without-plan .release-medical {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
#header-page #rules_calendar .with-plan .before:after,
#header-page #rules_calendar .without-plan .before:after,
#header-page #rules_calendar .with-plan .after:after,
#header-page #rules_calendar .without-plan .after:after,
#header-page #rules_calendar .with-plan .release-medical:after,
#header-page #rules_calendar .without-plan .release-medical:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  bottom: 2px;
  left: 13px;
  right: 13px;
  border-radius: 50%;
  border: 2px dashed #cdc0b9;
}
#header-page #rules_calendar .with-plan .before .number,
#header-page #rules_calendar .without-plan .before .number,
#header-page #rules_calendar .with-plan .after .number,
#header-page #rules_calendar .without-plan .after .number,
#header-page #rules_calendar .with-plan .release-medical .number,
#header-page #rules_calendar .without-plan .release-medical .number,
#header-page #rules_calendar .with-plan .before .month,
#header-page #rules_calendar .without-plan .before .month,
#header-page #rules_calendar .with-plan .after .month,
#header-page #rules_calendar .without-plan .after .month,
#header-page #rules_calendar .with-plan .release-medical .month,
#header-page #rules_calendar .without-plan .release-medical .month {
  display: block;
  text-align: center;
  color: #FFF;
  line-height: 24px;
}
#header-page #rules_calendar .with-plan .before .number,
#header-page #rules_calendar .without-plan .before .number,
#header-page #rules_calendar .with-plan .after .number,
#header-page #rules_calendar .without-plan .after .number,
#header-page #rules_calendar .with-plan .release-medical .number,
#header-page #rules_calendar .without-plan .release-medical .number {
  font-size: 30px;
  padding-top: 14px;
}
#header-page #rules_calendar .with-plan .before .month,
#header-page #rules_calendar .without-plan .before .month,
#header-page #rules_calendar .with-plan .after .month,
#header-page #rules_calendar .without-plan .after .month,
#header-page #rules_calendar .with-plan .release-medical .month,
#header-page #rules_calendar .without-plan .release-medical .month {
  font-family: 'skolasansmedium';
  font-size: 18px;
}
#header-page #rules_calendar .with-plan .today,
#header-page #rules_calendar .without-plan .today {
  position: absolute;
  top: 0px;
  left: 9px;
  width: 90%;
  background-color: #FFF;
  padding: 0 0 10px;
  border-radius: 5px;
}
#header-page #rules_calendar .with-plan .today .title,
#header-page #rules_calendar .without-plan .today .title {
  color: #FFF;
  background-color: #ce9e93;
  display: block;
  text-align: center;
  font-family: 'skolasansbold';
  font-size: 21px;
  border-radius: 5px 5px 0px 0px;
}
#header-page #rules_calendar .with-plan .today .number,
#header-page #rules_calendar .without-plan .today .number,
#header-page #rules_calendar .with-plan .today .month,
#header-page #rules_calendar .without-plan .today .month {
  display: block;
  color: #3b342e;
  text-align: center;
  font-family: 'skolasansblack';
}
#header-page #rules_calendar .with-plan .today .number,
#header-page #rules_calendar .without-plan .today .number {
  font-size: 45px;
  line-height: 30px;
  padding-top: 15px;
}
#header-page #rules_calendar .with-plan .today .month,
#header-page #rules_calendar .without-plan .today .month {
  font-size: 24px;
  line-height: 24px;
}
#header-page #rules_calendar .with-plan .today .content,
#header-page #rules_calendar .without-plan .today .content {
  position: relative;
}
#header-page #rules_calendar .with-plan .today .content .open-calendar,
#header-page #rules_calendar .without-plan .today .content .open-calendar {
  position: absolute;
  top: 40px;
  right: 21px;
}
#header-page #rules_calendar .with-plan .today .content .open-calendar img,
#header-page #rules_calendar .without-plan .today .content .open-calendar img {
  max-width: 46px;
  max-height: 25px;
}
#header-page #rules_calendar .with-plan .release-medical,
#header-page #rules_calendar .without-plan .release-medical {
  background-color: #3b342e;
}
#header-page #rules_calendar .with-plan .release-medical:after,
#header-page #rules_calendar .without-plan .release-medical:after {
  border: 2px solid #3b342e;
}
#header-page #rules_calendar .with-plan .content-release-medical,
#header-page #rules_calendar .without-plan .content-release-medical {
  position: relative;
}
#header-page #rules_calendar .with-plan .content-release-medical .content,
#header-page #rules_calendar .without-plan .content-release-medical .content {
  position: absolute;
  bottom: -42px;
  left: -28px;
  z-index: 999;
  background-color: #5d544c;
  padding: 5px;
  border-radius: 3px;
}
#header-page #rules_calendar .with-plan .content-release-medical .content .desc,
#header-page #rules_calendar .without-plan .content-release-medical .content .desc,
#header-page #rules_calendar .with-plan .content-release-medical .content a,
#header-page #rules_calendar .without-plan .content-release-medical .content a {
  display: block;
  font-family: 'skolasansbold';
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
}
#header-page #rules_calendar .with-plan .content-release-medical .content .desc,
#header-page #rules_calendar .without-plan .content-release-medical .content .desc {
  color: #FFF;
}
#header-page #rules_calendar .with-plan .content-release-medical .content a,
#header-page #rules_calendar .without-plan .content-release-medical .content a {
  color: #ce9e93;
  text-decoration: underline;
}
#header-page #rules_calendar .without-plan .before:after,
#header-page #rules_calendar .without-plan .after:after {
  border: 2px solid #bbb4ae;
}
#header-page #rules_calendar .progress-radius {
  position: relative;
}
#header-page #rules_calendar .progress-radius .radius {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
#header-page #task_status {
  background: #b3aaa2;
  background: -moz-linear-gradient(left, #b3aaa2 0%, #afa69e 0%, #b2a9a2 0%, #b4aba4 1%, #c4bcb6 14%, #c9c2bc 19%, #c9c2bc 73%, #c4bcb6 81%, #b2a9a2 100%);
  background: -webkit-linear-gradient(left, #b3aaa2 0%, #afa69e 0%, #b2a9a2 0%, #b4aba4 1%, #c4bcb6 14%, #c9c2bc 19%, #c9c2bc 73%, #c4bcb6 81%, #b2a9a2 100%);
  background: linear-gradient(to right, #b3aaa2 0%, #afa69e 0%, #b2a9a2 0%, #b4aba4 1%, #c4bcb6 14%, #c9c2bc 19%, #c9c2bc 73%, #c4bcb6 81%, #b2a9a2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3aaa2', endColorstr='#b2a9a2', GradientType=1);
  padding-top: 35px;
  padding-bottom: 12px;
}
#header-page #task_status figure {
  width: 108px;
  height: 108px;
  border-radius: 50%;
}
#header-page #task_status figure img {
  min-width: 97px;
  min-height: 97px;
}
#header-page #task_status .status {
  position: relative;
}
#header-page #task_status .status .message {
  font-family: 'skolasansblack';
  color: #FFF;
  font-size: 27px;
  text-align: center;
}
#header-page #task_status .status .progress {
  height: 28px;
  outline-offset: 2px;
  border-radius: 10px;
  background-color: #bdb6b0;
  border: 1px solid #d3cec9;
  border-top-color: rgba(140, 135, 131, 0.41);
  border-left-color: rgba(140, 135, 131, 0.41);
}
#header-page #task_status .status .progress:after {
  content: '';
  display: block;
  position: absolute;
  top: 43px;
  bottom: 15px;
  left: -5px;
  right: -5px;
  border-radius: 17px;
  border: 2px dashed #998b82;
}
#header-page #task_status .status .progress .progress-bar {
  background-color: #FFF;
  border-radius: 10px;
}
#header-page #task_status .status .status-info {
  position: absolute;
  bottom: -22px;
  left: 34%;
  font-family: 'skolasansblack';
  font-size: 15px;
  color: #FFF;
  background-color: #b8b2ad;
  padding: 8px 14px;
  text-transform: uppercase;
}
#content_page {
  padding-top: 30px;
}
#content_page .thumbnail {
  border: none;
  position: relative;
  background-color: #efe9e4;
  padding-top: 20px;
  padding-bottom: 5px;
}
#content_page .thumbnail .type-service {
  font-family: 'skolasansbold';
  font-size: 15px;
  text-align: center;
  color: #7f664f;
  text-transform: uppercase;
}
#content_page .thumbnail .type-service i {
  background-color: #FFF;
  font-style: normal;
  padding: 2px 7px;
}
#content_page .thumbnail h3 {
  font-family: 'skolasansblack';
  font-size: 22px;
  color: #3b342e;
  text-align: center;
  min-height: 48px;
  max-height: 48px;
  overflow: hidden;
}
#content_page .thumbnail .btn-desc {
  font-family: 'skolasansbold';
  font-size: 15px;
  color: #c98d7f;
  text-decoration: underline;
  text-align: center;
  display: block;
}
#content_page .thumbnail .box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#content_page .thumbnail .btn-option {
  font-family: 'skolasansblack';
  font-size: 15px;
  color: #54555a;
}
#content_page .thumbnail .comments {
  height: 41px;
}
#content_page .thumbnail .comments .comment {
  font-family: 'skolasansbold';
  font-size: 13px;
  color: #FFF;
  display: block;
  background-color: #b8b2ad;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px;
  position: relative;
}
#content_page .thumbnail .comments .comment:after {
  content: url("../img/tip-ballon.png");
  display: block;
  position: absolute;
  top: 28px;
  bottom: 0;
  left: -81%;
  right: 0;
}
#content_page .thumbnail.done {
  background-color: #FFF;
  border: 1px solid #8d8781;
}
#content_page .thumbnail.done .type-service i {
  color: #9a8d85;
  background-color: #eee9e5;
}
#content_page .thumbnail.done h3 {
  color: #90847d;
}
#content_page .thumbnail.done .btn-option {
  color: #c98d7f;
}
#content_page .thumbnail.done .comments {
  height: 38px;
}
#content_page .thumbnail .marked {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}
.overlay-alerts-scope {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  cursor: pointer;
}
.suport_box_alerts {
  position: relative;
}
.suport_box_alerts .box_alerts {
  position: absolute;
  z-index: 99999;
  white-space: nowrap;
  padding: 10px 30px 25px 50px;
  background-color: #efe9e4;
  top: 30px;
}
.suport_box_alerts .box_alerts.right {
  left: -15px;
}
.suport_box_alerts .box_alerts.left {
  right: -23px;
}
.suport_box_alerts .box_alerts h3 {
  font-size: 21px;
  font-family: 'skolasansbold';
  color: #3b342e;
}
.suport_box_alerts .box_alerts .box_content {
  margin-top: 30px;
}
.suport_box_alerts .box_alerts .box_content h4 {
  font-size: 21px;
  font-family: 'skolasansblack';
  color: #3b342e;
}
.suport_box_alerts .box_alerts .box_content ul {
  list-style-image: url('../img/shape-list.png');
}
.suport_box_alerts .box_alerts .box_content ul li {
  font-size: 18px;
  font-family: 'skolasansbold';
  color: #7f664f;
  margin: 0px 0px 10px -20px;
  white-space: normal;
}
.suport_box_alerts .hider_icon {
  position: absolute !important;
  z-index: 99999;
  top: -50px;
  left: -15px;
  background-color: #efe9e4;
  padding: 24px 50px 31px 31px;
}
.suport_box_alerts .hider_icon a .badge {
  left: 28px !important;
}
